html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #d8ebfe;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.half-container {
  height: 100%;
  flex: 1;
  overflow: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.half-container:first-child {
  border-right: black 1px solid;
}
